[Unit]
Description=Phldapadmin PHP FastCGI Process Manager
After=syslog.target network.target

[Service]
Type=forking
PIDFile=/var/run/phpldapadmin-php-fpm.pid
ExecStart=/usr/local/php/sbin/php-fpm -y /etc/phpldapadmin/php-fpm.conf
ExecReload=/bin/kill -s USR2 $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target