[Unit]
Description=OpenLDAP Server Daemon
After=syslog.target network-online.target
Requires=network-online.target

[Service]
ExecStart=/libexec/slapd -F /etc/openldap/slapd.d
ExecReload=/bin/kill -s QUIT $MAINPID
ExecReload=/libexec/slapd -F /etc/openldap/slapd.d
ExecStop=/bin/kill -s QUIT $MAINPID
KillMode=control-group
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target