[mysqld]
    basedir=/usr/local/mysql8  
    datadir=/var/lib/mysql8/data
    socket=/var/run/mysql8/mysqld.sock
    log-error=/var/log/mysql8/mysqld.log
    pid-file=/var/run/mysql8/mysqld.pid
    user=mysql
    character-set-server=utf8
    port=3306
    sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
    default-time_zone = '+8:00'
[client]
    port=3306
    socket=/var/run/mysql8/mysqld.sock
    default-character-set=utf8